* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@mixin order-bgColor($bgColor, $order, $display: flex) {
	background-color: $bgColor;
	order: $order;
	display: $display;
}

@mixin flex($direction, $align: stretch, $justify: flex-start) {
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
}

.main-container {
	display: grid;
	grid-template: 15% 85% / 240px 1fr;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: white;
	position: relative;
	.title {
		@include order-bgColor(#00ffd0, 0);
		@include flex(column, center, center);
		text-align: center;
		font-size: 1rem;
		color: black;
		font-weight: 900;
		span {
			font-style: italic;
		}
	}
	.current-tab-title {
		@include order-bgColor(#070707, 1);
		font-size: 2rem;
		@include flex(row, center, space-around);
	}
	.menu {
		@include order-bgColor(#2f89fc, 2);
		@include flex(column, center);

		ul {
			list-style-type: none;
			min-height: 300px;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			.menu-item {
				display: flex;
				align-items: center;
				border-bottom: 1px solid black;
				font-size: 2rem;
				cursor: pointer;
				padding: 1em;
				transition: all 400ms ease;

				li {
					pointer-events: none;
				}
				.menu-icon {
					pointer-events: none;
				}
				&:hover {
					background-color: rgba(34, 27, 27, 0.575);
				}
			}
		}
	}
	.current-content {
		@include order-bgColor(#f5f5f5, 3);
		color: black;
		@include flex(column, center, center);
	}
}

@media (max-width: 798px) {
	.main-container {
		grid-template: 70% 70% 70% 70% / 100vw;
	}
}
